/* body {
    background-image: url("../images/wallpapers-movies-02.jpg");
} */
main {
  /*  background-image: url("../images/wallpapers-movies-02.jpg"); */
/*    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; */
   /* display: inline-block;
   max-width:100%;
   height: auto; */
/*    margin-left: auto;
   margin-right: auto; */
}
/* html {
    background: url('../../public/images/wallpapers-movies-02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */