/* body {
    background-image: url("../../public/images/wallpapers-movies-02.jpg");
    background-color: #ff0000 !important;

} */
html {
    background: url('../../public/images/wallpapers-movies-02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}